{
    "spec": {
        "backup_password": "{{ backup_password }}",
        "enable": true,
        "location": "sftp://ns1.sclabs.net/home/vcenter/auto_backup",
        "location_password": "{{ location_password }}",
        "location_user": "{{ location_user }}",
	"parts": [ "common" ],
        "recurrence_info": {
            "days": [ ],
            "hour": 23,
            "minute": 59
        },
        "retention_info": {
            "max_count": "7"
        }
    }
}
