{
    "spec": {
        "backup_password": "VMware1!",
        "enable": true,
        "location": "sftp://ns1.sclabs.net/home/vcenter/auto_backup",
        "location_password": "Noris0815!",
        "location_user": "root",
	"parts": [ "common" ],
        "recurrence_info": {
            "days": [ ],
            "hour": 23,
            "minute": 59
        },
        "retention_info": {
            "max_count": "7"
        }
    }
}
